* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sell-box {
    height: 100%;
    width: 100%;
    background: radial-gradient(#108c1c, #060404);
    background-position: center;
    padding-bottom: 25px;
}

.best-seller-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    height: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    position: relative;
    transition: 0.2s;
    border-radius: 25px;
    cursor: pointer;
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
}

.best-seller-card:hover {
    transform: scale(1.045);
    box-shadow: 10.9px 10.9px 10.9px hsl(0deg 0% 0% / 0.73);
}

.sell-box h2 {
    padding-top: 20px;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;

}

h2 span {
    color: orangered;
}

.best-seller-card img {
    max-width: 100%;
    height: 100px;
    filter: drop-shadow(6px 47px 46px #000000);
}

.best-seller-card .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: green;
    color: white;
    padding: 5px 10px;
}

.best-seller-card h5 {
    margin-top: 10px;
    font-size: 1.25rem;

}

.best-seller-card .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;

}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    width: 80%;
    border-radius: 15px;
}

.add-to-cart-btn:active {
    color: #000;
    background-color: transparent;
    border: 2px solid #28a745;
}

@media (max-width:1400px) {
    .best-seller-card {
        height: 300px;
    }
}

@media (max-width:1200px) {
    .best-seller-card {
        height: 280px;
    }

    .best-seller-card img {
        margin-top: 12px;
        height: 90px;
    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }
}

@media (max-width:992px) {
    .add-to-cart-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 0.8rem;
        width: 100%;
    }

    .best-seller-card {
        height: 250px;

    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }

    .best-seller-card img {
        margin-top: 15px;
        height: 70px;
    }

    .best-seller-card h5 {
        margin-top: 5px;
        font-size: 0.8rem;

    }

    .best-seller-card .price {
        font-size: 1rem;
        font-weight: 700;
        color: #000;

    }
}

@media (max-width:767px) {
    .best-seller-card {
        height: 280px;
    }

    .best-seller-card img {

        height: 90px;
    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }

    .best-seller-card h5 {
        margin-top: 5px;
        font-size: 1rem;

    }

    .best-seller-card .price {
        font-size: 1.2rem;
        font-weight: 700;
        color: #000;

    }
}

@media (max-width:575px) {
    .best-seller-card {
        height: 290px;
    }

    .best-seller-card h5 {
        /* margin-top: 15px; */
        font-size: 0.9rem;
    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }
}

@media (max-width:465px) {
    .best-seller-card {
        height: 270px;
    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }

    .best-seller-card h5 {
        /* margin-top: 15px; */
        font-size: 0.9rem;
    }
}

@media (max-width:435px) {
    .best-seller-card h5 {
        /* margin-top: 15px; */
        font-size: 0.9rem;
    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }

    .best-seller-card .price {
        font-size: 0.8rem;
        font-weight: bold;
        color: #000;
    }

    .best-seller-card {
        height: 250px;
    }
}

@media (max-width:400px) {
    .best-seller-card {
        height: 240px;
    }

    .best-seller-card:hover {
        transform: scale(1.045);
    }
}

@media (max-width:365px) {
    .add-to-cart-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 0.5rem;

        height: 30px;
        width: 100%;
    }

    .best-seller-card {
        height: 240px;
    }

    ca .best-seller-card h5 {
        /* margin-top: 15px; */
        font-size: 0.7rem;
    }

    .best-seller-card .price {
        font-size: 0.6rem;
        font-weight: bold;
        color: #000;
    }
}